.register {
  padding: 0;
}
.header {
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.header h3 {
  font-weight: bold;
  font-size: 32px;
}
.body {
  margin-top: 20px;
}
.body form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.user-name {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.user-name input {
  flex: 1;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  background-color: #f5f6f7;
}
.email-pass {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.email-pass input {
  flex: 1;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  background-color: #f5f6f7;
}
form p {
  font-size: 11px;
  margin-top: 20px;
  color: #777777;
}
.submit-btn {
  padding: 10px 18px;
  background-color: #00a400;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 200px;
  align-self: center;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  letter-spacing: 1.1px;
  cursor: pointer;
}
